{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="page">
        <div class="page__show page__show--showed">
            {% include "header.html" with title=cinema_name left_lnk="index" left_cls="link nav-c__button--back external" %}
            <!-- Scrollable page content -->
            <div class="page-content">
                <div class="content__wrap content__wrap--list-fly film-wrap no-padding">
                    <div class="box-c">
                        <div class="chose-floor chose-tab">
                            <table class="">
                                <tbody>
                                <tr>
                                    <td class="width-50">
                                        <label>
                                            <input type="radio" name="chose-tab-2" class="hidden chose-tab__radio"
                                                   checked="checked" id="showing_tab_header">
                                            <div class="chose-tab__inner">
                                                <b>Đang chiếu</b>
                                            </div>
                                        </label>
                                    </td>
                                    <td class="width-50" ac="">
                                        <label>
                                            <input type="radio" name="chose-tab-2" class="hidden chose-tab__radio"
                                                   id="coming_tab_header">
                                            <div class="chose-tab__inner">
                                                <b>Sắp chiếu</b>
                                            </div>
                                        </label>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% include "wap/film_list.html" with cinema_id=cinema_id films=film_showing id="film-showing" %}
                    {% include "wap/film_list.html" with cinema_id=cinema_id films=film_coming id="film-coming"  %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/pinchzoom.min.js' %}"></script>
    <script>
        function currentUpcomingChange(is_checked, checked, unchecked) {
            if (is_checked) {
                $$('#' + checked + '').css('display', '');
                $$('#' + unchecked + '').css('display', 'none');
            }
            else {
                $$('#' + checked + '').css('display', 'none');
                $$('#' + unchecked + '').css('display', '');
            }
        }

        currentUpcomingChange(true, 'film-showing', 'film-coming');

        $$('#showing_tab_header').on('change', function (e) {
            currentUpcomingChange(e.target.checked, 'film-showing', 'film-coming');
        });
        $$('#coming_tab_header').on('change', function (e) {
            currentUpcomingChange(e.target.checked, 'film-coming', 'film-showing');
        });
    </script>
{% endblock %}