{% extends "base.html" %}
{% load static %}

{% block content %}
    <div data-name="home" class="page">
        <div class="nav-c">
            <table>
                <tr>
                    <td class="left">
                        <a href="{% url 'index' %}?app_mobile={{ app_mobile }}"
                           class="link nav-c__button nav-c__button--back external"></a>
                    </td>
                    <td class="center">
                        <div class="nav-c__Text">
                            Mua vé xem phim
                        </div>
                    </td>
                    <td class="right">
                        <a href="#" class="link nav-c__button nav-c__button--search" id="search-film-btn" style="display: none;"></a>
                        <a href="" class="nav-c__button" id="search-blank"></a>
                    </td>
                </tr>
            </table>
        </div>
        <!-- Scrollable page content -->
        <div class="page-content">
            <div class="content__wrap content__wrap--list-fly film-wrap no-padding">
                <div class="box-list--int-1">
                    <div class="tabs-animated-wrap">
                        <div class="tabs">
                            {% include 'wap/index/tab-theater.html' %}
                            {% include 'wap/index/tab-film.html' %}
                            {% include 'wap/index/tab-ticket.html' %}
                        </div>
                    </div>
                </div>
                {% include 'wap/index/tabs_header.html' %}
            </div>
            {% include 'wap/index/location_selector.html' %}
            {% include 'wap/index/film-search.html' %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var cinema_url = "{% url 'get_film_by_cinema' location_id=0 cinema_id=0 %}".replace('0/0/', '');
        var movie_url = "{% url 'get_film_detail' film_id=0 %}".replace('0/', '');
        var ticket_url = "{% url 'get_ticket_detail' ticket_id=0 %}".replace('0/', '');
        current_app_mobile = '{{ app_mobile }}'
    </script>
    <script src="{% static 'js/index.js' %}"></script>
    <script>
        {% if tab == "film" %}
            app.tab.show('#tab-film', '#tab-link-film', false);
        {% elif tab == "ticket" %}
            app.tab.show('#tab-ticket', '#tab-link-ticket', false);
        {% endif %}

        {% if location %}
            $$('[data-location="{{ location }}"]').trigger("click");
        {% else %}
            getPosition();
        {% endif %}
        {% if not request.META.HTTP_REFERER and not messages %}
            introDialog.open();
        {% endif %}
    </script>
{% endblock %}