<div class="popup my-popup my-popup--custom" id="film-search">
    <div class="view">
        <div class="page">
            <div class="page__show page__show--showed">
                <div class="nav-c">
                    <table>
                        <tr>
                            <td class="left">
                                <a href="#" class="link nav-c__button nav-c__button--back popup-close"></a>
                            </td>
                            <td class="center">
                                <div class="nav-c__Text">
                                    Tìm kiếm phim
                                </div>
                            </td>
                            <td class="right">
                                <a href="" class="nav-c__button"></a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="page-content">
                    <div class="content__wrap content__wrap--list-fly film-wrap no-padding" id="search-bar-2">
                        <div class="form-search-wrap">
                            <form class="searchbar searchbar--custom searchbar-init no-margin-top margin-b-xs"
                                  data-backdrop="false">
                                <div class="searchbar-inner">
                                    <div class="searchbar-input-wrap">
                                        <input type="search" placeholder="Tìm kiếm">
                                        <i class="searchbar-icon"></i>
                                        <span class="input-clear-button"></span>
                                    </div>
                                    <span class="searchbar-disable-button">Hủy</span>
                                </div>
                            </form>
                        </div>
                        <div class="box-list--int-1 flex-column">
                            <div class="block no-margin">
                                <div class="box-c box-c-margin-sm">
                                    <div class="no-padding">
                                        <div class="list list-box" style="color: black">
                                            <ul>
                                                <li class="">
                                                    <div class="box-c__header">
                                                        Phim hot đang chiếu
                                                    </div>
                                                    <div class="box-c__content no-padding">
                                                        <ul class="no-padding" id="list-film-search"></ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>