{% load static %}
<div id="tab-ticket" class="page-content tab">
    <div class="block no-margin content__wrap--list-fly">
        <div class="box-list--int-1 flex-column">
            <div class="margin-b-md">
                Lịch sử giao dịch hiển thị trong vòng 2 tháng.
            </div>
            <div class="box-c">
                <div class="box-c__content no-padding-bottom">
                    <a href="/3-1-1-ls/" class="box-c__item">
                        <div class="table table-100">
                            <div class="td">
                                <div class="label-main"><b>Vệ Binh Dải Ngân Hà Vol.2</b></div>
                                <div class="font-xs clrgrey margin-v-xxs">Hà Nội - Vincom Bà Triệu</div>
                                <div class="font-xs clrgrey">12 tháng 5, 2018</div>
                            </div>
                            <div class="td right">
                                <div class="label-main">
                                    <div class="clrorange"><b>880,000 VND</b></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/3-1-1-ls/" class="box-c__item">
                        <div class="table table-100">
                            <div class="td">
                                <div class="label-main"><b>Vệ Binh Dải Ngân Hà Vol.2</b></div>
                                <div class="font-xs clrgrey margin-v-xxs">Hà Nội - Vincom Bà Triệu</div>
                                <div class="font-xs clrgrey">12 tháng 5, 2018</div>
                            </div>
                            <div class="td right">
                                <div class="label-main">
                                    <div class="clrorange"><b>880,000 VND</b></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/3-1-1-ls/" class="box-c__item">
                        <div class="table table-100">
                            <div class="td">
                                <div class="label-main"><b>Vệ Binh Dải Ngân Hà Vol.2</b></div>
                                <div class="font-xs clrgrey margin-v-xxs">Hà Nội - Vincom Bà Triệu</div>
                                <div class="font-xs clrgrey">12 tháng 5, 2018</div>
                            </div>
                            <div class="td right">
                                <div class="label-main">
                                    <div class="clrorange"><b>880,000 VND</b></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/3-1-1-ls/" class="box-c__item">
                        <div class="table table-100">
                            <div class="td">
                                <div class="label-main"><b>Vệ Binh Dải Ngân Hà Vol.2</b></div>
                                <div class="font-xs clrgrey margin-v-xxs">Hà Nội - Vincom Bà Triệu</div>
                                <div class="font-xs clrgrey">12 tháng 5, 2018</div>
                            </div>
                            <div class="td right">
                                <div class="label-main">
                                    <div class="clrorange"><b>880,000 VND</b></div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="/3-1-1-ls/" class="box-c__item">
                        <div class="table table-100">
                            <div class="td">
                                <div class="label-main"><b>Vệ Binh Dải Ngân Hà Vol.2</b></div>
                                <div class="font-xs clrgrey margin-v-xxs">Hà Nộ0i - Vincom Bà Triệu</div>
                                <div class="font-xs clrgrey">12 tháng 5, 2018</div>
                            </div>
                            <div class="td right">
                                <div class="label-main">
                                    <div class="clrorange"><b>880,000 VND</b></div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="box-c p-blank p-blank--history">
                <div class="box-c__content">
                    <div class="box-c__item center">
                        <img src="{% static 'img/history-blank.svg' %}" alt="">
                        <div class="p-plank__text">Không tìm thấy dữ liệu. Vui lòng thử lại sau</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>