{% load static %}
<div id="tab-film" class="page-content tab">
    <div class="block no-margin no-padding height-100 content__wrap--list-fly flex-column">
        <div class="box-c">
            <div class="chose-floor chose-tab">
                <div class="film-toggle film-toggle--slide"></div>
                <div class="film-toggle film-toggle--list" style="display:none"></div>
                <table class="">
                    <tbody>
                    <tr>
                        <td class="width-50">
                            <label>
                                <input type="radio" name="chose-tab" class="hidden chose-tab__radio" checked=""
                                       id="showing_tab_header">
                                <div class="chose-tab__inner">
                                    <b>Đang chiếu</b>
                                </div>
                            </label>
                        </td>
                        <td class="width-50" ac="">
                            <label>
                                <input type="radio" name="chose-tab" class="hidden chose-tab__radio"
                                       id="coming_tab_header">
                                <div class="chose-tab__inner">
                                    <b>Sắp chiếu</b>
                                </div>
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-list--int-1 flex-column flim-list--list" id="flim-list">
            <div class="block no-margin" id="film-showing">
                <div class="film-vert"></div>
            </div>
            <div class="block no-margin" id="film-coming">
                <div class="film-vert"></div>
            </div>
        </div>
        <div class="box-list--int-1 flex-column" id="flim-slide" style="display:none">
            <div class="content__wrap--list-fly">
                <div class="box-list--int-1">
                    <div class="swiper-container swiper-container-film film-list" id="film-slide-showing">
                        <div class="swiper-wrapper"></div>
                    </div>
                    <div class="swiper-container swiper-container-film film-list" id="film-slide-coming">
                        <div class="swiper-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>