{% load static %}
<div id="tab-film" class="page-content tab">
    <div class="block no-margin no-padding height-100 content__wrap--list-fly flex-column">
        <div class="box-c">
            <div class="chose-floor chose-tab">
                <div class="film-toggle film-toggle--slide"></div>
                <div class="film-toggle film-toggle--list" style="display:none"></div>
                <table class="">
                    <tbody>
                    <tr>
                        <td class="width-50">
                            <label>
                                <input type="radio" name="chose-tab" class="hidden chose-tab__radio" checked=""
                                       id="current">
                                <div class="chose-tab__inner">
                                    <b>Đang chiếu</b>
                                </div>
                            </label>
                        </td>
                        <td class="width-50" ac="">
                            <label>
                                <input type="radio" name="chose-tab" class="hidden chose-tab__radio" id="upcoming">
                                <div class="chose-tab__inner">
                                    <b>Sắp chiếu</b>
                                </div>
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-list--int-1 flex-column flim-list--list" id="flim-list">
            <div class="block no-margin">
                <div class="film-vert">
                    <div class="box-c box-c-margin-sm film-vert__item-wrap">
                        <div class="box-c__content no-padding">
                            <div class="film-vert__item">
                                <div class="film-vert__poster"
                                     style="background-image: url({% static 'img/img_poster2@2x.jpg' %})"></div>
                                <a class="link box-c-link" href="/1-1-1-dat-ve-rap/"></a>
                                <div class="film-vert__title label-main">
                                    <b>
                                        Alita: Thiên thần chiến binh
                                    </b>
                                </div>
                                <div class="film-vert__title font-xs clrgrey">
                                    Hành động, Khoa học viễn tưởng
                                </div>
                                <div class="film-vert__time margin-b-xs">
                                    <div class="inline-middle">
                                        <div class="dot dot-blue"></div>
                                    </div>
                                    <div class="inline-middle">2 giờ 10 phút</div>
                                </div>
                                <div class="table table-100">
                                    <div class="td">
                                        <div class="pills table">
                                            <div class="pills-left ic-imdb td"></div>
                                            <div class="pills-right td font-xs">9.8</div>
                                        </div>
                                    </div>
                                    <div class="td right v-middle">
                                        <a href="/1-1-1-dat-ve-rap/tab-booking-1/"
                                           class="link button-c-xs box-c-link-inside current">
                                            Đặt vé
                                        </a>
                                        <a href="/1-1-1-dat-ve-rap/tab-booking-1/"
                                           class="link btn-sm btn-border-blue box-c-link-inside upcoming">
                                            <div class="color-black">19/07/2019</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-c box-c-margin-sm film-vert__item-wrap">
                        <div class="box-c__content no-padding">
                            <div class="film-vert__item">
                                <div class="film-vert__poster"
                                     style="background-image: url({% static 'img/img_poster1@2x.jpg' %})"></div>
                                <a class="link box-c-link" href="/1-1-1-dat-ve-rap/"></a>
                                <div class="film-vert__title label-main">
                                    <b>
                                        Sinh nhật chết chóc 2
                                    </b>
                                </div>
                                <div class="film-vert__title font-xs clrgrey">
                                    Hành động, Khoa học viễn tưởng
                                </div>
                                <div class="film-vert__time margin-b-xs">
                                    <div class="inline-middle">
                                        <div class="dot dot-blue"></div>
                                    </div>
                                    <div class="inline-middle">2 giờ 10 phút</div>
                                </div>
                                <div class="table table-100">
                                    <div class="td">
                                        <div class="pills table">
                                            <div class="pills-left ic-imdb td"></div>
                                            <div class="pills-right td font-xs">9.8</div>
                                        </div>
                                    </div>
                                    <div class="td right v-middle">
                                        <a href="/1-1-1-dat-ve-rap/tab-booking-1/"
                                           class="link button-c-xs box-c-link-inside current">
                                            Đặt vé
                                        </a>
                                        <a href="/1-1-1-dat-ve-rap/tab-booking-1/"
                                           class="link btn-sm btn-border-blue box-c-link-inside upcoming">
                                            <div class="color-black">19/07/2019</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-c box-c-margin-sm film-vert__item-wrap">
                        <div class="box-c__content no-padding">
                            <div class="film-vert__item">
                                <div class="film-vert__poster"
                                     style="background-image: url({% static 'img/img_poster3@2x.jpg' %})"></div>
                                <a class="link box-c-link" href="/1-1-1-dat-ve-rap/"></a>
                                <div class="film-vert__title label-main">
                                    <b>
                                        How to train your dragon
                                    </b>
                                </div>
                                <div class="film-vert__title font-xs clrgrey">
                                    Hành động, Khoa học viễn tưởng
                                </div>
                                <div class="film-vert__time margin-b-xs">
                                    <div class="inline-middle">
                                        <div class="dot dot-blue"></div>
                                    </div>
                                    <div class="inline-middle">2 giờ 10 phút</div>
                                </div>
                                <div class="table table-100">
                                    <div class="td">
                                        <div class="pills table">
                                            <div class="pills-left ic-imdb td"></div>
                                            <div class="pills-right td font-xs">9.8</div>
                                        </div>
                                    </div>
                                    <div class="td right v-middle">
                                        <a href="/1-1-1-dat-ve-rap/tab-booking-1/"
                                           class="link button-c-xs box-c-link-inside current">
                                            Đặt vé
                                        </a>
                                        <a href="/1-1-1-dat-ve-rap/tab-booking-1/"
                                           class="link btn-sm btn-border-blue box-c-link-inside upcoming">
                                            <div class="color-black">19/07/2019</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-c box-c-margin-sm film-vert__item-wrap">
                        <div class="box-c__content no-padding">
                            <div class="film-vert__item">
                                <div class="film-vert__poster"
                                     style="background-image: url({% static 'img/img_poster4@2x.jpg' %})"></div>
                                <a class="link box-c-link" href="/1-1-1-dat-ve-rap/"></a>
                                <div class="film-vert__title label-main">
                                    <b>
                                        Hai Phượng
                                    </b>
                                </div>
                                <div class="film-vert__title font-xs clrgrey">
                                    Hành động, Khoa học viễn tưởng
                                </div>
                                <div class="film-vert__time margin-b-xs">
                                    <div class="inline-middle">
                                        <div class="dot dot-blue"></div>
                                    </div>
                                    <div class="inline-middle">2 giờ 10 phút</div>
                                </div>
                                <div class="table table-100">
                                    <div class="td">
                                        <div class="pills table">
                                            <div class="pills-left ic-imdb td"></div>
                                            <div class="pills-right td font-xs">9.8</div>
                                        </div>
                                    </div>
                                    <div class="td right v-middle">
                                        <a href="/1-1-1-dat-ve-rap/tab-booking-1/"
                                           class="link button-c-xs box-c-link-inside current">
                                            Đặt vé
                                        </a>
                                        <a href="/1-1-1-dat-ve-rap/tab-booking-1/"
                                           class="link btn-sm btn-border-blue box-c-link-inside upcoming">
                                            <div class="color-black">19/07/2019</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-c box-c-margin-sm film-vert__item-wrap">
                        <div class="box-c__content no-padding">
                            <div class="film-vert__item">
                                <div class="film-vert__poster"
                                     style="background-image: url({% static 'img/img_poster5@2x.jpg' %})"></div>
                                <a class="link box-c-link" href="/1-1-1-dat-ve-rap/"></a>
                                <div class="film-vert__title label-main">
                                    <b>
                                        Hai Phượng
                                    </b>
                                </div>
                                <div class="film-vert__title font-xs clrgrey">
                                    Hành động, Khoa học viễn tưởng
                                </div>
                                <div class="film-vert__time margin-b-xs">
                                    <div class="inline-middle">
                                        <div class="dot dot-blue"></div>
                                    </div>
                                    <div class="inline-middle">2 giờ 10 phút</div>
                                </div>
                                <div class="table table-100">
                                    <div class="td">
                                        <div class="pills table">
                                            <div class="pills-left ic-imdb td"></div>
                                            <div class="pills-right td font-xs">9.8</div>
                                        </div>
                                    </div>
                                    <div class="td right v-middle">
                                        <a href="/1-1-1-dat-ve-rap/tab-booking-1/"
                                           class="link button-c-xs box-c-link-inside current">
                                            Đặt vé
                                        </a>
                                        <a href="/1-1-1-dat-ve-rap/tab-booking-1/"
                                           class="link btn-sm btn-border-blue box-c-link-inside upcoming">
                                            <div class="color-black">19/07/2019</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-list--int-1 flex-column" id="flim-slide" style="display:none">
            <div class="content__wrap--list-fly">
                <div class="box-list--int-1">
                    <div class="swiper-container swiper-container-film film-list ">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="content__wrap--list-fly flex-column">
                                    <a class="link box-c-link" href="/1-1-1-dat-ve-rap/"></a>
                                    <div class="box-list--int-1">
                                        <div class="film-poster"
                                             style="background-image: url({% static 'img/img_poster2@2x.jpg' %})"></div>
                                    </div>
                                    <div class="film-ìnfo center">
                                        <div class="film-title">
                                            Alita: Thiên thần chiến binh
                                        </div>
                                        <div class="film-gerne font-sm">
                                            Hành động, Khoa học viễn tưởng
                                        </div>
                                        <div class="film-time font-sm">
                                            2 giờ 10 phút
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content__wrap--list-fly flex-column">
                                    <a class="link box-c-link" href="/1-1-1-dat-ve-rap/"></a>
                                    <div class="box-list--int-1">
                                        <div class="film-poster"
                                             style="background-image: url({% static 'img/img_poster1@2x.jpg' %})"></div>
                                    </div>
                                    <div class="film-ìnfo center">
                                        <div class="film-title">
                                            Sinh nhật chết chóc 2
                                        </div>
                                        <div class="film-gerne font-sm">
                                            Hành động, Khoa học viễn tưởng
                                        </div>
                                        <div class="film-time font-sm">
                                            2 giờ 10 phút
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content__wrap--list-fly flex-column">
                                    <a class="link box-c-link" href="/1-1-1-dat-ve-rap/"></a>
                                    <div class="box-list--int-1">
                                        <div class="film-poster"
                                             style="background-image: url({% static 'img/img_poster3@2x.jpg' %})"></div>
                                    </div>
                                    <div class="film-ìnfo center">
                                        <div class="film-title">
                                            How to train your dragon
                                        </div>
                                        <div class="film-gerne font-sm">
                                            Hành động, Khoa học viễn tưởng
                                        </div>
                                        <div class="film-time font-sm">
                                            2 giờ 10 phút
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content__wrap--list-fly flex-column">
                                    <a class="link box-c-link" href="/1-1-1-dat-ve-rap/"></a>
                                    <div class="box-list--int-1">
                                        <div class="film-poster"
                                             style="background-image: url({% static 'img/img_poster4@2x.jpg' %})"></div>
                                    </div>
                                    <div class="film-ìnfo center">
                                        <div class="film-title">
                                            Hai Phượng
                                        </div>
                                        <div class="film-gerne font-sm">
                                            Hành động, Khoa học viễn tưởng
                                        </div>
                                        <div class="film-time font-sm">
                                            2 giờ 10 phút
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="content__wrap--list-fly flex-column">
                                    <a class="link box-c-link" href="/1-1-1-dat-ve-rap/"></a>
                                    <div class="box-list--int-1">
                                        <div class="film-poster"
                                             style="background-image: url({% static 'img/img_poster5@2x.jpg' %})"></div>
                                    </div>
                                    <div class="film-ìnfo center">
                                        <div class="film-title">
                                            Hai Phượng
                                        </div>
                                        <div class="film-gerne font-sm">
                                            Hành động, Khoa học viễn tưởng
                                        </div>
                                        <div class="film-time font-sm">
                                            2 giờ 10 phút
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="margin-b-sm">
                    <a href="/1-1-1-dat-ve-rap/tab-booking-1/" class="link button-c current">Đặt vé</a>
                    <a href="/1-1-1-dat-ve-rap/tab-booking-1/" class="link btn-border-white table table-100 upcoming">
                        <div class="td">
                            <div class="font-xs">Khởi chiếu</div>
                            <div class="label-main"><b><span class="white">19/07/2019</span></b></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>