<div class="tabs-wrap">
    <div class="table table-100">
        <a href="#tab-theater" class="td tab-link orange-ripple tab-link-active" id="tab-link-theater">
            <div class="tabs-ic ic-theater"></div>
            <div class="tabs-text">
                Rạp chiếu
            </div>
        </a>
        <a href="#tab-film" class="td tab-link orange-ripple" id="tab-link-film">
            <div class="tabs-ic ic-movies"></div>
            <div class="tabs-text">
                Phim
            </div>
        </a>
        <a href="#tab-ticket" class="td tab-link orange-ripple" id="tab-link-ticket">
            <div class="tabs-ic ic-tickets"></div>
            <div class="tabs-text">
                Vé của tôi
            </div>
        </a>
    </div>
</div>