<div class="nav-c">
    <table>
        <tbody>
        <tr>
            <td class="left">
                <a {% if left_lnk %} href="{% url left_lnk %}"{% endif %}
                                     class="nav-c__button {{ left_cls }}"></a>
            </td>
            <td class="center">
                <div class="nav-c__Text">
                    {{ title }}
                </div>
            </td>
            <td class="right">
                <a {% if right_lnk %} href="{% url right_lnk %}"{% endif %}
                                      class="nav-c__button  {{ right_cls }}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>